.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #423eb3;
    background-image: linear-gradient(to left ,#FF4848,#B5EAEA);
  }
  
  h1 {
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
  }
  
  li {
    margin-bottom: 10px;
    word-break: break-all;
  }
  
  li button {
    margin-left: 10px;
    background-color: #00b3ff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .custom-shape-divider-bottom-1630517898 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1630517898 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1630517898 .shape-fill {
  fill: #6bc7ca;
}